body{
    background-color: black;
}
h1{
    color: brown;
    width: 1500px;
    border: 10px solid red ;
    text-align: center;
}
h2{
    color: brown;
    width: 1500px;
    border: 10px solid red;
    text-align: center;
}
title{
    width: 100px;

}
img{
    width: 500px;
  position: relative;
  left: 500px; 
  height: 350px;
  top: 100px;
}
