.container{
    background-color: rgb(154, 65, 222);
    font-family: Arial, sans-serif;
    display: flex;
    height: 10vh;
    margin: 0;
    justify-content: left;
    align-items: left;
    border-radius: 13px;
    height: 60vh;
    
}

.container p{
    position: absolute;
    left: 100px;
    color: white;
    top: 20px;

}

.profile-picture{
    position: absolute;
    top: 30px;
    margin-left: 30px;
    margin-top: -10px;
}

.container h1{
    position: relative;
    color: white;
    top: 100px;
    left: 60px;
}





